.weather_container{
    
    width: 100%;
    background: #323544 ;
    height: 300px;
    margin: auto 0;
    border-bottom : 1px solid red;
    color : #FFF;
}
.unit_forcast{ 
    border: 1px solid green;

}
.day_date_header {
    width: 100%;
    height: 30px;

    padding:5px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;;
}
.day{
    float:left;
    }
.date {
    float:right;
}
.weather_data{
    background-color: #1e202b;
    padding: 15px;;
}
.location {
    display: inline-block;
    border:1px solid blue;
    margin-top: 10px;
    
}
.temperature {
    font-size: 3rem;
    border: 1px solid red;
    display: inline;

}
.maxMin{
    float:left;
    border:1px solid white;
    width: 100px;
    height: 50px;

}
/* 
.day
.date

location
temperature
max
min 
feels_like
icon */