.weather_container{
    
   
    background: #323544 ;
    height: 300px;
    margin: auto 0;
    border-bottom : 0px solid red;
    color : #FFF;
    
}
.unit_forcast{ 
    border: 0px solid green;

}
.day_date_header {
    width: 100%;
    height: 30px;
    padding:5px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;;
}
.day{
    float:left;
    }
.date {
    float:right;
}
.weather_data{
    background-color: #1e202b;
    padding: 15px;;
}
.location {
    
  
    margin-top: 10px;
    
    display: block;
    
}
.temperature {
    font-size: 4rem;
    
    width: 74%;
    float: left;
   

}
.maxMin{
   float: left;
    
    width:25%;
    height: 50px;
    font-size: 1rem;
   
}
.max, .min {
    border-bottom:  1px dotted #FFF;
}
.feels_like {
    display: block;
    float: left;

}
.icon {
    border: 0px solid yellow;
    display: block;
    background-image: url('/src/components/images/icon-1.svg');
    width: 100px; height: 60px;
    margin-left : 225px;
    margin-top: 25px;
}
